
body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.panel {
  background: #181818;
  padding: 20px 18px 24px;
  border-radius: 12px;
  border: 1px solid #333;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 40px;
  color: #99ff00;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 480px
}

@media (min-width: 520px) {
  .button-group {
    flex-direction: row;
    justify-content: center;
  }
}

button {
  background: #181818;
  border: 2px solid #333;
  padding: 16px 16px;
  font-size: 16px;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #222;
  border-color: #99ff00;
  color: #99ff00;
  transform: scale(1.02);
}

.container {
  margin: auto;
}

.footer {
  text-align: center;
  padding: 2px 0;
  color: #666;
  opacity: 0.4;
}
